.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Dark Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 for a darker effect) */
  }
  
  /* Content Styling */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    align-items: center;
    z-index: 2; /* Ensures content appears above the overlay */
  }
  
  .content h1 {
    font-size: 7rem;
    margin-bottom: 10px;
    color: rgb(35, 149, 255);
    /* background-color: aqua; */
  }

  /* Responsive typography for h1 */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 3rem;
    }
  }

  @media (max-width: 480px) {
    .content h1 {
      font-size: 2rem;
    }
  }
  
  .content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .content p {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    .content p {
      font-size: 1rem;
    }
  }

  /* ***************************************************************************** */
  /*                     Typewriter effect in the heading.                         */
.content h1 {
  animation: typewriter 3s steps(44) infinite alternate, blinkTextCursor 500ms steps(44) infinite;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.5px solid;
}
@keyframes typewriter {
  0%, 10% {
      width: 0;
  }
  20%, 80% {
      width: 100%;
  }
  90%, 100% {
      width: 0;
  }
}
@keyframes blinkTextCursor {
  0%, 45% {
      border-color : currentColor;
  }
  50% {
      border-color : transparent;
  }
  55%, 100% {
      border-color : currentColor;
  }
}
/* ***************************************************************************** */