.highlight {
    background-color: rgba(20, 183, 166, 0.1);
    color: rgb(10, 166, 151);
    padding-bottom:  0.1em;
    padding-inline-start: 0.2em;
    padding-inline-end: 0.2em;
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-right: 2px solid rgb(10, 166, 151);
    display: inline-block;
}

.highlight2 {
    background-color: rgba(20, 183, 166, 0.1);
    color: rgb(29, 249, 0);
    padding-bottom:  0.1em;
    padding-inline-start: 0.2em;
    padding-inline-end: 0.2em;
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-right: 2px solid rgb(10, 166, 151);
    display: inline-block;
}

.content {
    font-size: 7rem;
    margin-bottom: 10px;
    /* background: linear-gradient(to left, rgba(35, 149, 255, 0), rgb(5, 41, 75)); */
    /* background-color: aqua; */
    background: -webkit-linear-gradient(left, #f6ff00, #4c1bff);
    background: linear-gradient(to right, #f6ff00,#4c1bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding: 4rem; */
  }
